/* ==========================
   BASE / RESET
   ========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: Arial,Helvetica,sans-serif;
    background-color: #ffffff;
    color: #4a4a4a;
    line-height: 1.6;
}

/* Paleta Grupo C&S */
:root {
    --azul-primario: #0a84c1;
    --azul-primario-hover: #086fa2;
    --azul-escuro: #064f73;
    --azul-claro: #e6f3fb;

    --cinza-texto: #4a4a4a;
    --cinza-borda: #d9e2ec;
    --cinza-fundo: #f7f9fc;

    --branco: #ffffff;
}