@import url("base.css");
@import url("layout.css");
@import url("components.css");
@import url("responsive.css");

@import url("pages/home.css");
@import url("pages/vagas.css");
@import url("pages/cadastro.css");
@import url("pages/detalhe-vaga.css");
<<<<<<< HEAD
@import url("pages/dashboard.css");
=======
@import url("pages/login.css");
>>>>>>> 4c064762d80374f50548affba938718771911b79
