@import url("base.css");
@import url("layout.css");
@import url("components.css");
@import url("responsive.css");
@import url("pages/sobre.css");

@import url("pages/home.css");
@import url("pages/vagas.css");
@import url("pages/cadastro.css");
@import url("pages/detalhe-vaga.css");
